body {
  margin: 0;
  font-family: "Karla", sans-serif;
  background-color: #1f2937;
  color: #ffffff;
}

.hero-container {
  margin: 0 52px 35px 52px;
  border-bottom: 1px solid #2f3e53;
}

.title {
  margin: 115px 0 0 52px;
  font-size: 40px;
}

.green-color {
  color: #4adf86;
}

.para {
  color: #d5d4d8;
  font-size: 20px;
  margin: 10px 0 51px 52px;
}

#generate-password-btn {
  margin: 0 0 35px 52px;
  font-size: 16px;
  color: #ffffff;
  background-color: #10b981;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
}

#password-container {
  display: flex;
  margin-top: 35px;
}

#first-password {
  width: 210px;
  height: 40px;
  background-color: #273549;
  margin: 0 24px 0 52px;
  border-radius: 6px;
}

#second-password {
  width: 210px;
  height: 40px;
  background-color: #273549;
  border-radius: 6px;
}
